<ion-view style="" id="page3" title="Ônibus">
    <ion-content class="has-header" padding="true">
        <div class="list" ng-repeat="bus in buses">
            <a class="item item-thumbnail-left" href="#">
            <img src="../img/bus.png">
            <h2>{{bus.linha}}</h2>
            <p> <span class="ion-arrow-right-c"></span> {{bus.ida}}h </p>
            <p><span class="ion-arrow-left-c"></span> {{bus.volta}}h</p>
            <p><span class="ion-connection-bars"></span> <span class="balanced">{{bus.situacao}}</span></p>
            <p><span class="ion-ios-people"></span> {{bus.lotacao}} </p>
            <p><span class="ion-loop"></span><span class="royal"> {{bus.status}}</span></p>
            <p><span class="ion-ios-person"></span>  <span class="calm">{{bus.representante}}</span></p>
            </a>
        </div>
    </ion-content>
</ion-view>
