<ion-view style="" id="page3" title="Ônibus">
    <ion-content class="has-header" padding="true">
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
            <img src="http://icons.iconarchive.com/icons/iconshock/real-vista-transportation/96/school-bus-icon.png">
            <h2>Linha Tanguá x Niterói</h2>
            <p> <span class="ion-arrow-right-c"></span> 14:40h </p>
            <p><span class="ion-arrow-left-c"></span> 18:00h</p>
            <p><span class="ion-connection-bars"></span> <span class="balanced"> Tudo OK</span></p>
            <p><span class="ion-ios-people"></span> 48/51 </p>
            <p><span class="ion-loop"></span><span class="royal"> Saindo do centro de Tanguá </span></p>
            <p><span class="ion-ios-person"></span>  <span class="calm"> Josefa (99323-1234) </span></p>
            </a>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
            <img src="http://icons.iconarchive.com/icons/iconshock/real-vista-transportation/96/school-bus-icon.png">
            <h2>Linha Niterói x Tanguá</h2>
            <p> <span class="ion-arrow-right-c"></span> 11:00h </p>
            <p><span class="ion-arrow-left-c"></span> 18:00h</p>
            <p><span class="ion-connection-bars"></span> <span class="assertive"> Problemas</span></p>
            <p><span class="ion-loop"></span><span class="royal"> Saindo do centro de Niterói </span></p>
            <p><span class="ion-ios-person"></span> <span style="white-space: normal;" class="calm"> Maria (99872-2321) </span> </p>
            </a>
        </div>
    </ion-content>
</ion-view>
