<ion-view style="" id="page4" title="Representantes">
    <ion-content class="has-header" padding="true">
        <div class="card">
            <div class="item">
                <center> <span class="royal"> Coordenador</center></span>
            </div>
            <div class="list">

                <a class="item item-avatar" href="#">
                <img src="img/person.jpg">
                <h2>Coordenador</h2>
                <p>Telefone (21) 98743-9872 (Whatsapp)</p>
                </a>
            </div>    
        </div>
        <div class="card">
            <div class="item">
                <center><span class="assertive"> Representantes </span></center>
            </div>
            <div class="list">
                <a href="" class="item item-avatar">
                    <img src="img/person1.jpg" alt="">
                    <h2>Representante 2</h2>
                    <p>Telefone: (21) 9 2332-2323</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>