<ion-view style="" id="page4" title="Representantes">
    <ion-content class="has-header" padding="true">
        <div class="card">
            <div class="item">
                <center> <span class="royal"> Coordenador</center></span>
            </div>
            <div class="list" ng-repeat="coordenador in coordenadores">

                <a class="item item-avatar" href="#">
                <img src="img/person.jpg">
                <h2>{{coordenador.nome}}</h2>
                <p>{{coordenador.telefone}} <span class="ion-social-whatsapp" ng-if="coordenador.whatsapp == 'sim'"></span> </p>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <center><span class="assertive"> Representantes </span></center>
            </div>
            <div class="list" ng-repeat="representante in representantes">
                <a href="" class="item item-avatar">
                    <img src="img/person1.jpg" alt="">
                    <h2>{{representante.nome}}</h2>
                    <p>{{representante.telefone}} <span class="ion-social-whatsapp" ng-if="representante.whatsapp == 'sim'"></span> </p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
